extends layout

block content
  h2(id='top') Frequently Asked Questions
  ul
    li
      a(href='#wsiw') What should I wear?
    li
      a(href='#winfo') What information do you need before we work together?
    li
      a(href='#herbsafe') Are Chinese herbal products safe?
    li
      a(href='#takeherbs') How do I take my granulated herbs?
    li
      a(href='#topicals') What do I do with this goop?

  p(id='wsiw') <b>What should I wear?</b> Depending on the area we are treating, it varies, but a safe choice is comfortable, loose clothing which you are OK getting some oil based massage products on. For most treatments I need full access to the shoulders and neck, but sports bras, or tanktops generally allow for that. If you choose to not wear anything for a massage or other treatment, you will be draped appropriately and your modesty will be repsected.<a href='#top'>top</a>
  p(id='winfo') <b>What information do you need before we work together?</b> I need some background for your condition, and basic health history information. If you can download and fill out the form in this <a href="/pdfs/New_Health_History.pdf">LINK</a> and bring it back in with you, that is very helpful, and will speed up our first appointment so we can get to the good stuff.<a href='#top'>top</a>
  p(id='herbsafe') <b>Are Chinese herbla products safe?</b> This is essentially a two part question:
  p <em>Are the manufactuing processes in China adequate to ensure good products?</em> The short answer is, it depends. There are a wide variety of products coming out of China, some of high quality, and, depending on the source, some have been found to be consistently problematic in terms of contamination, both intentional, and through faulty processes. I have worked for over ten years with products produced by Tianjiang Pharmaceuticals. A colleague, <a href="http://www.legendaryherbs.com/ourstory.html">Eric Brand</a>, imports these products and distributes them in the US. He is one of America's few native experts on issues of herb quality, is in the process of getting a degree in China on herb quality and assessment, and he has done personal site visits with the facility and has great confidence in <a href="http://www.legendaryherbs.com/products/granuledetail.html">their products and integrity</a>. <a href='#top'>top</a>
  p <em>Are Chinese herbs safe in general?</em> In my experience, yes. I have worked with Chinese herbal medicines for over a decade, and, while a bad diagnosis can lead to side effects, generally they are useful and produce no special problems when taken as directed. Certain medications can be contraindicated for use with certain herbs, but negative reactions to herbs are rare and generally not especially unpleasant. <a href='#top'>top</a>
  p(id='takeherbs') <b>How Do I take my granulated herbs?</b> Herbs should be placed in a heat safe cup or mug and covered with an inch or two of very hot water. Stir them for a moment to allow them to dissolve and allow to cool to a drinkable temperature. Herbs should usually be taken apart from other food. While they can taste unpleasant, I don't recommend drinking them mixed with juice or sugar, unless the addition of sugar is recommended (which is sometimes is!). You are welcome to wash them down with water or tea, as you prefer, or you can regard it as "character building". <a href='#top'>top</a>
  p(id='topicals') <b>What do I do with this goo/paste/ointment?</b> If I have manufactured a product for some skin condition, or a poultice for external use, I will discuss the specifics of the application with you. In the near future I hope to produce some short videos describing use of various topical products. <a href='#top'>top</a>