extends layout

block content
  h1 Golden Mirror Therapy
  p Golden Mirror Therapy is a combination of deep tissue massage and acupuncture focused on the muscles of expression. The treatment opens restricted dimensions of emotional expression, especially in the neck and face, to help cultivate a naturally relaxed affect.
  p The side benefits of this practice are often positive changes in cosmetic aspects of the face and posture, as working with the muscles that support facial expression can reduce emotionally induced wrinkles, and improve general circulation in the face. It has also made a big difference for some patients with headaches, jaw pain and dysfunction, and chronic neck and shoulder pain. While the focus is on the head, neck and face, other parts of the body can be addressed in sessions on a case by case basis.  Don’t like needles in the face? While treatments generally include acupuncture, direct facial acupuncture is not required for good effects, though it does tend to improve short term outcomes.
  p Sessions are 60/90 minutes and cost 120/150 dollars. Packages of 5 or 10 sessions are available at a discounted rate.
