extends layout

block content
  -var goober ='parufus';
  -var booger ='gmail.com';
  h3 Welcome!
  div.homeTextContainer
    p Thank you for your interest in my services. I provide a range of Chinese medicine and massage related treatments from two locations in the greater Boston area. With over 20 years of experience, and more than a decade of teaching in various settings, I am sure that I can help with whatever you are bringing to the table.
    p Please feel free to <a href='mailto:#{goober}@#{booger}' target="_top"> send me an email </a>, or call with questions about conditions that I treat. While I specialize in pain treatment, insomnia, and dermatological disorders, I also maintain an open general practice in acupuncture and Chinese herbal medicine.
    p <a href='/pdfs/New_Health_History.pdf#page=3'>Please print and fill out the form in this link</a>
  div(ng-controller='blogContentController')