extends layout

block content
  h3 Marma Chikitsa and Pradhuman Nayak
  div.homeTextContainer
    p Pradhuman Nayak is a practitioner of Marma Chikitsa, an Indian bodywork therapy that employs both body manipulation and massage, as well as a system of point stimulation similar to acupuncture. Par and Pradhuman met in 2014 and started collaborating on bringing his unique family system of bodywork to others, working together in the clinic we combine our skills to provide a unique, effective and beneficial treatment. 